// sizes
$pageWidth: 1200px;
$pageWidthTablet: 85%;
$pageWidthMobile: 90%;
$restaurantListWidth: 30%;
$restaurantListWidthTablet: 46%;
$restaurantListWidthMobile: 100%;

// colors
$lightBlack: #262626;
$darkGrey: #757575;
$lightGrey: #F5F5F5;
$darkYellow: #fecb00;